body {
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
}


/* Container holding the image and the text */
.imgcontainer {
    position: relative;
    text-align: center;
    color: white;
}

.imgcontainer img{
    width: 100%;
    height: max-content;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    padding: 100px 0px 0px 70px;
    font-weight: inherit;
    font-size: 50px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* On screens that are 768px wide or greater and less than 1200 px, go from four columns to two columns */
@media only screen and (max-width: 1200px) and (min-width: 768px){
    .column {
        width: 50%;
    }
}

/* On screens that are 767px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 767px) {
    .column {
        width: 100%;
    }
}

