<div class="container-fluid">
  <div class="row">
      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>
  </div>
  <div class="row">
        <div ng-repeat="pokeman in $ctrl.pokemans | startFrom:$ctrl.currentPage*$ctrl.pageSize | filter:$ctrl.query  | limitTo:$ctrl.pageSize" class="column">
            <img ng-src="img/pokemans/{{pokeman.id}}.png" alt="{{pokeman.name}}" />
          <p>{{pokeman.name}}</p>
        </div>
  </div>
  <div class="row">
    <button ng-disabled="$ctrl.currentPage == 0" ng-click="$ctrl.currentPage=$ctrl.currentPage-1">
          Previous
      </button>
      {{$ctrl.currentPage+1}}/{{$ctrl.numberOfPages}}
      <button ng-disabled="$ctrl.currentPage >= $ctrl.pokemans.length/$ctrl.pageSize - 1" ng-click="$ctrl.currentPage=$ctrl.currentPage+1">
          Next
      </button>
    </div>
</div>

